/* .card-container {
    display:flex;
    margin: auto;
    height: 400px;
    width: 400px;
    perspective:700px;
    position:relative;
    transition: ease-in;
}

.card {
    display:flex;
    height: 400px;
    width: 500px;
    border-style:solid;
    border-color:black;
    position:absolute;
    justify-content:center;
    transform-style: preserve-3d;
    transition:  all 0.4s ease-in-out;
}


.front{

    display:flex;
    justify-content:center;
    position:absolute;
    /* backface-visibility: hidden; */
    /* overflow:hidden; */
    margin-left: auto;
    margin-right: auto;
}
  
.back{
    backface-visibility: hidden;
    transform:rotateY(180deg);
} */

