.card-container {
    margin: auto;
    height: 700px;
    width: 500px;
    perspective:700px;
    /* perspective is distance between z=0 and users */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/perspective */

}

.cards {
    height: 500px;
    width: 500px;
    border-style:solid;
    border-color:black;
    z-index:1;
    display:flex;
    align-items:center;
    transform-style: preserve-3d;
    transition:  all 0.4s ease-in-out;
}

.cards:hover{
    /* transform:rotateY(180deg); */
}

.front{
    display:block;
    backface-visibility: hidden;
}
  
.back{
    transform:rotateY(180deg);
}