/* @import "cards.css"; */

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overscroll-behavior: none;
}

.App{
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#12181b 50%, #202737 100%);
}

.card-container {
  padding-top: 25px;
  height: 100%;
  position: relative;
  justify-content: center;
  display:flex;
  margin: auto;
  perspective:2000px;
  transition: ease-in;
  
  .card {
    display:flex;
    transform-style: preserve-3d;
    transition:  all 0.4s ease-in-out;
    
    .front{
      display:flex;
      justify-content:center;
      position:absolute;
      backface-visibility: hidden;
      overflow:hidden; 
      margin-left: auto;
      margin-right: auto;

      #front-image{
        height: 720px;
        width: 400px;
      }
    }
    
    .back{
      backface-visibility: hidden;
      transform:rotateY(180deg);

      #back-image{
        height: 720px;
        width: 400px;
      }
    }
  }
}

.btn-position{
  position: relative;
  justify-content:center;
  
  .btn-container{
    position: relative;
    justify-content:space-evenly;
    display: flex;
    padding-bottom: 10px;
    
    .btn {
      border: none;
      padding: 7px 26px;
      border-radius: 40px;
      display:block;
      width: 180px;
      height: 60px;
      margin:auto;
      margin-top:20px;
      font-size : 1 rem;
      text-align: center;
      text-decoration: none;
    }
    
    .btn:active{
      position:relative;
      top:3px;
      box-shadow: 0px 0px #1f2226;
      background: #2c3e50;
      border:none;
    }
  }
}
  
@media screen and (max-width: 480px){ // mobile view
  .card-container {
    display:flex;
    height:77.5h;
    
    .card {
      height:100%;
      width:100%;
      .front{
        #front-image{
          height: 580px;
          width: 326.25px;
        }
      }
      
      .back{
        #back-image{
          height: 580px;
          width: 326.25px;
        }
      }
    }
  }
    
 
  
}